// Colors

$color-main: #0483ff;
$color-light-main: #1e90ff;

$color-background: #f6fbfd;

$color-darker-dark: #131b2d;
$color-dark: #242e49;
$color-light-dark: #9196a4;

$color-mark: rgba(254, 237, 90, 0.95);
$color-error: #ff4c4c;

$color-gray: #f6fbfd;
$color-light-gray: #f3f4f8;

// Export
:export {
  colorMain: $color-main;
  colorLightMain: $color-light-main;
  colorBackground: $color-background;
  colorMark: $color-mark;
  colorError: $color-error;
  colorGray: $color-gray;
  colorLightGray: $color-light-gray;
  colorDark: $color-dark;
  colorLightDark: $color-light-dark;
  colorDarkDark: $color-darker-dark;
}
