@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');
@import "~rfs/scss";
@import "colors";

html {
  @include rfs(15);

  body {
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
  }

  h1, h2, h3, h4, h5, p, pre, mark {
    //margin: 0;
  }

  p {
    margin-bottom: 1.25em;
    text-align: justify;
  }

  h1, h2, h3, h4, h5 {
    //margin: 2.75rem 0 1rem;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    line-height: 1.15;
  }

  h1 {
    @include rfs(49);
  }

  h2 {
    @include rfs(39);
  }

  h3 {
    @include rfs(31);
  }

  h4 {
    @include rfs(25);
  }

  h5 {
    @include rfs(21);
  }

  h6 {
    @include rfs(16);
  }

  small, .text_small {
    @include rfs(15);
  }

  mark {
    background-color: $color-mark;
  }

  code, pre {
    font-family: 'Source Code Pro', monospace;
    @include rfs(14);
  }

  code {
    color: rgb(248, 248, 242);
    padding: 0.2em 0.5em;
    background: rgb(39, 40, 34);
    vertical-align: baseline;
    //padding: 2px;
  }

  pre {
    tab-size: 4;
    color: #666666;
    padding: 0.5em 1em;
    background: #f7f7f7;

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

    @include rfs(14);
  }

  blockquote {
    display: block;
    border-left: 3px solid $color-light-main;
    //margin-left: -15px;
    padding-left: 15px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-style: italic;
    color: #555;
  }

}

// Navbar
nav {
  @include rfs(15);
}

// Editor Typography

.editor-container {
    @extend html;

  body {
    font-family: 'Crimson Text', serif;
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Crimson Text', serif;
  }

  code, pre {
    font-family: 'Source Code Pro', monospace;
  }
}
